# Automatically created by ruff.
models/qwen2.5-1.5b-instruct-fp16.gguf
python.zip
/python/
models/Qwen2.5-3B.Q6_K.gguf
models/llama-2-7b.Q4_K_M.gguf
/prompt.md
models/nomic-embed-text-v1.5.Q8_0.gguf
models/bge-reranker-v2-m3-q8_0.gguf
/diagram.md